<div id="clients" class="offset">

		<div class="jumbotron">
			<div class="col-12 text-center">
				<h3 class="heading">Clients</h3>
				<div class="heading-underline">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../../../assets/Larry Page.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								This app has changed my life.
								<hr class="clients-hr">
								<cite>&#8212; Larry Page, Google boss</cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../../../assets/edc3c1ab-4a3d-4165-81ed-34dd60f910ce.jpeg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								This is the best app i have ever used.
								<hr class="clients-hr">
								<cite>&#8212; Mark Zuckerberg, Facebook owner </cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../../../assets/merlin_148944051_4a2ba64e-6662-45d0-852f-a4020cab6bbb-articleLarge.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								I never thought that an app can be that useful, amazing.
								<hr class="clients-hr">
								<cite>&#8212; Jeff Bezos, founder of the Amazon </cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../../../assets/vMektkqTURBXy8zOTdkNTQ0OTQ5Y2FiZjYzYmFiMzk1YTRkMDZlOWU0Zi5qcGVnkpUDAMyUzRCczQlXkwXNAxTNAbw.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								Forget Tesla, this is the real deal.
								<hr class="clients-hr">
								<cite>&#8212; Elon Musk, Tesla raidboss </cite>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>