<div id="clients" class="offset">

		<!--Start Jumbotron-->
		<div class="jumbotron">
			<div class="col-12 text-center">
				<h3 class="heading">Clients</h3>
				<div class="heading-underline">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../assets/Domány Juli.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								This app has changed my life.
								<hr class="clients-hr">
								<cite>&#8212; Julianna, Google boss</cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../assets/Gerencsér András.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								This is the best app i have ever used.
								<hr class="clients-hr">
								<cite>&#8212; András, Facebook owner </cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../assets/Salfay Anna.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								I never thought that an app can be that useful, amazing.
								<hr class="clients-hr">
								<cite>&#8212; Anna, no1. Marvel movie maker </cite>
							</blockquote>

						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4">
							<img src="../assets/Hackl Emese.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								Great app, but where are the corgies????
								<hr class="clients-hr">
								<cite>&#8212; Emese, instagram raidboss and the Earth's biggest corgi breeder </cite>
							</blockquote>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>