<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="whatWeOffer" class="offset">
    <div class="fixed-background">
      <div class="row dark text-center">
        <div class="fixed-wrap">
          <div class="fixed">
          </div>
        </div>
        <div class="col-12">
          <h3 class="heading">What we offer</h3>
          <div class="heading-underline">
          </div>
        </div>
        <div class="col-md-4">
          <h3>Online Tracking</h3>
          <div class="feature">
              <i class="material-icons">search</i>
          </div>
          <p class="lead">Track your consumption whenever you want.</p>
        </div>

        <div class="col-md-4">
          <h3>Play with us</h3>
          <div class="feature">
              <i class="material-icons">language</i>
          </div>
          <p class="lead">Play every day and save the world.</p>
        </div>

        <div class="col-md-4">
          <h3>0-24 Customer Service</h3>
          <div class="feature">
              <i class="material-icons">perm_phone_msg</i>
          </div>
          <p class="lead">You can reach us via e-mail or phone.</p>
        </div>

      </div>

    </div><!-- End Fixed Background-->

  </div>