.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2.5rem;
  width: 4rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #176cb6;;
}

.home-inner {
  background-image: url('../../../assets/akrales_170414__1610_0337.0.jpg');
  opacity: 0.2;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .5rem .5rem .5rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .3rem .3rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  color: black;
  font-size: 1.1rem;
  background: white;
}
.btn-lg:hover{
  background:  #176cb6;;
  border-color:  #176cb6;;
  color:white;
}
.fa {
  height:80%;
  font-size: 10rem;
  margin: 1.6rem 10rem 5rem 5rem;
}
.icons{
  border-bottom:50px;
}
.fa:hover {
  color: white;
}

.fa-car {
  color: #176cb6;
  padding-right: 6%;
}

.fa-leaf {
  color: green;
  padding-right: 3%;
}

.fa-eur {
  color: yellow;
  width: 1%;
}
.landing{
  background: black;
}
i{
  padding-top:5%;
  width: 0.1%;
}
h6{
  padding-top:5%;
  display:inline-block;
}
.icons{
  width:90%;
}
